__pycache__/
.vscode/
.idea/
.pycharm/

# MacOS
.DS_Store

# Vagrant
.vagrant/*
Vagrantfile(libvirt)
*.log
control/id_rsa
control/id_rsa.pub

# Django
db.sqlite3

# Temporary
migrations/
fileserver/files/

