__pycache__/
.vscode/
.idea/
.pycharm/

# MacOS
.DS_Store

# Vagrant
.vagrant/*
Vagrantfile(libvirt)
*.log
control/id_rsa
control/id_rsa.pub
control/rootCA.crt
control/rootCA.key

# client
client/*.pem

# Django
db.sqlite3


# Temporary
migrations/
fileserver/files/*
backupserver/files/*
fileserver/sharedfiles

