NameVirtualHost *:80
<VirtualHost *:80>
    ServerName  
    Redirect / https://{{ ansible_hostname }}:443
</VirtualHost>

<VirtualHost _default_:443>>
    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/{{ ansible_hostname }}.crt
    SSLCertificateKeyFile /etc/ssl/certs/{{ ansible_hostname }}.key
    SSLCertificateChainFile /etc/ssl/certs/rootCA.crt

    ServerAdmin webmaster@tp.dsi.tecnico.ulisboa.pt
    ServerName  {{ ansible_hostname }}

    DocumentRoot /var/repo/{{ ansible_hostname }}server

    LogLevel warn
    ErrorLog /var/log/apache2/{{ ansible_hostname }}-error.log
    CustomLog /var/log/apache2/{{ ansible_hostname }}-access.log combined

    WSGIScriptReloading On
    WSGIDaemonProcess {{ ansible_hostname }}_server python-path=/var/repo/{{ ansible_hostname }}server
    WSGIProcessGroup {{ ansible_hostname }}_server
    WSGIApplicationGroup {{ ansible_hostname }}_server
    WSGIPassAuthorization On
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptAlias / {{ ansible_hostname }}server/{{ ansible_hostname }}server/wsgi.py

    <Location "/">
    Require all granted
    </Location>

    <Location "/hub">
    <LimitExcept GET>
      Order deny,allow
      Deny from all
      Allow from 172.20.15.0/24
      Allow from 172.20.29.0/24
      Allow from 127.0.0.1
    </LimitExcept>    
    </Location>

    Alias /static {{ ansible_hostname }}server/static
    <Location "/static">
    SetHandler None
    </Location>
</Virtualhost>

WSGISocketPrefix /var/run/wsgi
